* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th {
  border: 1px solid #ffff;
  padding: 10px;
}

.tr {
  background-color: black;
  color: #ffff;
}

td {
  border: 1px solid gray;
  padding: 10px;
  font-weight: 600;
}

.prev {
  background-color: teal;
  color: #ffff;
  padding: 5px 10px;
}
